.carousel-inner {
    width: 100%;
    height: 80vh;
}

.carousel-item{
    width: 100%;
    height: 90vh;
}

body {
    background-color: rgb(216, 198, 176);
}

.card {
    width: 80em;
}

.card-body {
    width: 80em%;
}